# Build artifacts
/build/
out/
cmake-build-*/

# CMake
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
*.cmake.user

# Visual Studio / MSVC
.vs/
*.vcxproj*
*.sln
*.user
*.pdb
*.ilk
*.obj
*.tlog
*.idb
*.exe
*.dll
*.lib
*.exp

# vcpkg
vcpkg_installed/
packages/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
